.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
}
.logo-btn {
  background: transparent;
  border: none;
  outline: none;
}
.logo-btn:hover {
  cursor: pointer;
}
.logo-icon {
  color: var(--primaryColor);
  font-size: 1.5rem;
}
.brand-links {
  text-decoration: none;
}
.brand {
  padding: 1rem 1.25rem;
  margin: 0;
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
}

.nav-links {
  list-style-type: none;
  transition: var(--mainTransition);
  height: 0;
  overflow: hidden;
}
.show-nav {
  height: 216px;
}
.nav-links a {
  display: block;
  padding: 1rem 1.25rem;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
}

@media screen and (min-width: 576px) {
  .navbar {
    padding: 0 2rem;
  }
}

@media screen and (min-width: 992px) {
  .logo-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-links {
    height: auto;
    display: flex;
  }
}
